<div id="index-container">
  <img id="beer-img" src="images/beer.png" alt="">
  <a href="/beers" class="btn shadow">Check the beers!</a>
  <a href="/random-beer" class="btn shadow">Check a random beer!</a>
</div>